* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#navbar {
  background-color: #202A44!important;
}

#logo {
color: white;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 24px; /* 100% */
}

#navbarNav {
  margin-right: 5rem;
}

#navbarNav ul {
  font-family: Montserrat;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
}

#navbarNav a {
  color: white;
  margin-left: 3rem;
}

#logo img {
  width: 50px;
}



#landing {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(./images/banner.jpg);
  padding: 14% 17%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0rem;
}

#landing-description {
  color: white;
}

#landing-description h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.5rem; /* 112.5% */
  letter-spacing: -0.08rem;
  margin-bottom: 1rem;
  max-width: 17ch;
}
#landing-description span{
 color: ;#202A44;
}

#landing-description p{
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 125% */
  margin-bottom: 2rem;
  max-width: 35ch;
}

#landing-description a {
  background-color:  #202A44;
  padding: 0.75rem 1.75rem;
  color: white;
  border: none;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 600;
}
#profile{
 background: #003363;
padding: 12%;
  background-repeat: no-repeat;
  background-size: cover;
}
#profile h2{

  color: #FFF;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 125% */

  max-width: 35ch;
  margin-bottom: 2rem;
}
#profile p{

color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
text-align: justify;


}
#profile img{

  width: 400px;
  height: auto;
}

#project{
  padding: 10.5% 14%;
}

#project-description {
  margin-bottom: 2rem;
}

#project-description h1 {
  color:#202A44;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

#project-description p {
  max-width: 65ch;
  color: #202A44;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

#card{
  margin-top: 2rem;
}
#tools{

  padding: 7% 7%;
}
#tools img{
  width: 150;

}
#tools h5{
  color:#202A44;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

#contact-image{
  padding: 0;
}

#contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact-form {
  background: #003363;
  padding: 5rem 5rem;
}

#contact-form h1 {
  color: white;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem ;
}

#contact-form p {
  color: white;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2.5rem;
}

#form {
  display: flex;
  flex-direction: column;
}

#form label {
  color: white;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#form input, #form textarea {
  padding: 1rem;
  border: 1px solid white;
  margin-bottom: 2rem;
  resize: none;
}

#contact-button {
  background-color: #12C6FF;
  color: var(--button-text-button-primary-text, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 120% */
  border: none;
  padding: 1rem 2.25rem;
}

footer {
  margin-top: 2rem;
  background-color: #202A44;
  width: 105rem;
  height: 3.5rem;
  flex-shrink: 0;
}

footer p {
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}