
:root {
  --white-color: #fff;
  scroll-behavior: smooth;
}
header{
	background-color: #202A44;
}

body {
  background: var(--bg-color) !important;
}

.nav-item .nav-link {
  color: var(--white-color);

}
.landing{
	height: 100vh;
	background-image: ;
	background-repeat: no repeat;
	background: fixed;
	background-size: cover;
}